<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642574638063-p6v9vcd4msvbjjcuqqa9es812k0ac4ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642574638063-p6v9vcd4msvbjjcuqqa9es812k0ac4ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDSWElaLp07cwI0RWHMJ6eEdxnfbbnfADA</string>
	<key>GCM_SENDER_ID</key>
	<string>642574638063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ddthanh.com.vn.movieappbloc</string>
	<key>PROJECT_ID</key>
	<string>movieapp-e455b</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-e455b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642574638063:ios:e7050c3cb213e620b1741a</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-e455b.firebaseio.com</string>
</dict>
</plist>